<div class="container">
<br>
<br>
<h1>Sign up?</h1>
<% if @user.errors.full_messages.any? %>
  <% @user.errors.full_messages.each do |error_message| %>
    <%= error_message if @user.errors.full_messages.first == error_message %>
  <% end %>
<% end %>
<hr>

<%= render 'form' %>

</div>
