<hr>
<hr>
<div class="container">


<% if @visit_owner %>
<h1 class="my-4">Projects by <%= @user.full_name %></h1>

<% else %>
  <h1 class="my-4">Projects you have backed</h1>
  <small> you have backed
  <%= @num_projects_backed_by_self %>
    <% if @num_projects_backed_by_self == 1 %>
      project
    <% else %>
      projects
    <% end %>
  <% @backed_projects_by_self.each do |project| %>
  <p>
  <%= project.title %>
  </p>
  <% end %>
  </small>
<% end %>

<hr>
<%= render 'show_projects', projects: @projects %>
</div>
